{%extends 'dashboard/base.html'%}
{%block content%}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12">
                
                {%if messages%}
                <h4>Error Message</h4>
                    {%for message in messages%}
                    {{message}}<br>
                    {%endfor%}
                {%endif%}
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-6">
                <h5>Product Lines</h5>
                <form action="" method="POST">
                    {%csrf_token%}
                    {{forms.as_p}}
                    <input type="submit" value="Save" class="btn btn-primary">
                </form>
            </div>
            <div class="col-6 ">
                <br>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for employees.." style='width:100%'>
                <br>
                <table class="table" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">Product Line Details</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%if display_productlines%}
                        {%for display_productline in display_productlines%}
                        <tr>
                            <td>
                                <p>
                                    <h6>Product Line:     {{display_productline.productLine}}</h6>
                                    {{display_productline.textDescription}} <br>
                                    <a href="{%url 'update_productlines' display_productline.productLine%}" class="btn btn-secondary">Update</a>
                                    <a href="{%url 'delete_productlines' display_productline.productLine%}" class="btn btn-danger">Delete</a>
                                </p>
                            </td>
                        </tr>
                        {%endfor%}
                        {%else%}
                        <tr>
                            <td>
                                No Record to display
                            </td>
                        </tr>
                        {%endif%}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{%endblock content%}